{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>

    {{#postList}}
    <tbody>
    <tr>
        <th>{{id}}</th>
        <td><a href="/posts/{{id}}">{{title}}</a></td>
        <td>{{content}}</td>
    </tr>
    </tbody>
    {{/postList}}

</table>

<a href="/posts/new" class="btn btn-primary">게시글 작성</a>

{{>layouts/footer}}