{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Content</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>1</th>
        <td>root</td>
        <td>안녕하세요</td>
    </tr>
    </tbody>

</table>

{{>layouts/footer}}